@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  font-family: 'Roboto Slab', serif;
}

* {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Raleway', sans-serif;
}
td{
  font-size: 10px;
  font-weight: 100;
  padding:10px;
}
tr{
  border-bottom-color: darkgray;
  border-bottom-width: 0.5px;
  border-bottom-style: solid; 
 
}
th {
  padding: 10px;
}
th:last-child{
  visibility: hidden;
  border-left: solid darkgray 0.5px;
}

td:last-child{
  visibility:hidden;
  border-left: solid darkgray 0.5px;
}

table.is-bordered {
  margin: 5px;
  border-style: solid;
  border-width: 0.5px;
  padding: 5px;
  width:100%;
}
table{
  border-collapse: collapse;
  table-layout: auto;
}

 .nav {
   font-family: 'Raleway', sans-serif;
   display:flex;
   flex-direction: row;
   background-color: white;
   color:darkgray;
   font-size: 0.8em;
   margin: 5px;
   padding: 5px 35px 5px 15px;
   margin:auto;
   justify-content: space-between;
 }

 .menu {
   display:flex;
   justify-content: right;
   color: black;
 }
 .menu > a{
   padding:10px;
 }
 a:link{
   text-decoration:none;
   color:black;
 }

 a:hover{
   text-decoration:underline;
   color: darkgray;
 }
 a:visited{
   text-decoration:none;
   color:black;
 }

 

body {
  width:320px;
}
.container{
  width: 100%;
}

 @media screen and (min-width: 768px){

  body {
    width:768px;
  }
 }

 @media screen and (min-width: 1024px){
  body {
    width: 100%;
  }
 }

